* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    /* display: inline-block; */
    height: 100px;
    background-color: red;
}

header {
    height: 80px;
    background-color: lightblue;
    line-height: 80px;
}

header img {
    width: 100px;
    vertical-align: middle;
}

header h2 {
    display: inline-block;
    vertical-align: middle;
}